@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .select-color {
    @apply bg-primary hover:bg-primaryHover dark:bg-primaryDark dark:hover:bg-primaryHover text-whiteText;
  }

  .btn-primary {
    @apply flex items-center gap-2 px-4 py-2 select-color;
  }

  .btn-text {
    @apply flex justify-center gap-2 py-2 hover:bg-violetHover dark:hover:bg-neutralHover;
  }

  .bg-transition {
    @apply transition-[background-color] duration-500 dark:bg-lightNeutralBg bg-lightVioletBg;
  }

  .bg-transition-body {
    @apply bg-darkVioletBg dark:bg-darkNeutralBg text-blackText dark:text-whiteText transition-[background-color] duration-500;
  }

  .input {
    @apply text-sm border border-neutral-500 placeholder:text-neutral-500 bg-inherit focus:outline-none focus:border-violetText dark:focus:border-violetTextLight caret-violetText dark:caret-violetTextLight;
  }

  .overlay {
    @apply fixed inset-0 bg-black/50;
  }

  .modal-content {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-lightVioletBg dark:bg-lightNeutralBg rounded-md shadow-lg w-[90vw] max-w-md max-h-[85vh];
  }

  .single-line-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

::selection {
  @apply bg-violet-600 text-whiteText;
}

::-webkit-scrollbar {
  @apply w-2 h-2.5;
}

::-webkit-scrollbar-track {
  @apply rounded-full bg-inherit;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-primary dark:bg-primaryDark;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-primaryHover;
}

html {
  @apply select-none;
}

#ToastRoot[data-state='open'] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
#ToastRoot[data-state='closed'] {
  animation: hide 100ms ease-in;
}
#ToastRoot[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
#ToastRoot[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
#ToastRoot[data-swipe='end'] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + 40px));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + 40px));
  }
}
